# Canonical identity
kamisoriss <kamisoriss@users.noreply.github.com>

# Map previous identities to canonical
kamisoriss <kamisoriss@users.noreply.github.com> romain <romain@gmail.com>
kamisoriss <kamisoriss@users.noreply.github.com> romain <romainbouchard1401@gmail.com>
